DEBUG=True
FASTAPI_SECRET=123DFIUSJUDF

POSTGRES_HOST: postgres
POSTGRES_USER: users_service
POSTGRES_PASSWORD: users_password123
POSTGRES_DB: users_main
POSTGRES_PORT: 5432

CORS_ORIGINS=localhost:5000,

APP_ENV=local
